body{
    background: #d32626;
}

a:link{
    color: white;
}

a:visited{
    color: white;
}

a:hover{ 
    color: lightgrey;
}


#header_image{
    top: 50px;
    height: 250px;
    margin: 0 auto;
    position: relative;
    display: block;
    border-style: solid;
    border-color: white;
    border-radius: 20px;
    
     /* Make image undraggable */
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#text{
    width: 400px;
    
    margin: 0 auto;
    position: relative;
    display: block;
    
    color: white;
    font-family: ubuntu;
    font-size: 20px;
    top: 70px;
    text-align: center;
}

#info_text{
    width: 440px;
    font-size: 15px;
    top: 15px;
    position: relative;
    text-align: left;
    margin: 0 auto;
    position: relative;
    display: block;
    font-family: 'Muli', sans-serif;
}


#second_command{
    position: relative;
    top: 3px;
    
}


#links{
    width: 200px;
    text-align: center;
    top: 20px;
    
    padding-bottom: 40px;
    
    margin: 0 auto;
    position: relative;
    display: block;
}




#expand{

    width: 200px;
    position: relative;
    animation: goOut .1s forwards ease-out;
    
    
}

#expand:hover{
    animation: expandDong .1s forwards ease-out;
}



#plus_button{
    
    height: 50px;
    position: relative;
    top: -323px;
    left: 334px;
    
    cursor: pointer;
    animation: plusDown .1s forwards ease-out;
      /* Make image undraggable */
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    
}

#plus_button:hover{
    animation: plusUp .1s forwards ease-out;
}


@keyframes expandDong {
    0% {
        left: 0px;
        
    }
    100% {
        left: 4px;
        
    }
}
@keyframes goOut {
    0% {
        left: 4px;
        
    }
    100% {
        left: 0px;
        
    }
}

@keyframes plusUp {
    0% {
        top: -317px;
        
    }
    100% {
        top: -320px;
        
    }
}
@keyframes plusDown {
    0% {
        top: -320px;
        
    }
    100% {
        top: -317px;
        
    }
}

#commands_text{
    position: relative;
    left: -54px;
}






















